services:
  app:
    build: ./php
    container_name: business-php
    working_dir: /var/www/html
    volumes:
      - ./src:/var/www/html
    ports:
      - "9003:9003" # Xdebug
    environment:
      XDEBUG_MODE: debug
      XDEBUG_SESSION: 1
      XDEBUG_CONFIG: client_host=host.docker.internal client_port=9003 start_with_request=yes
    depends_on:
      - db

  nginx:
    image: nginx:latest
    container_name: business-nginx
    ports:
      - "8091:80"
    volumes:
      - ./src:/var/www/html
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - app

  db:
    image: mysql:8.0
    container_name: business-mysql
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
    volumes:
      - db_data:/var/lib/mysql

  phpmyadmin:
    image: phpmyadmin:latest
    container_name: business-phpmyadmin
    ports:
      - "8080:80"
    environment:
      PMA_HOST: db
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
    depends_on:
      - db

  rabbitmq:
    image: rabbitmq:3-management
    container_name: business-rabbitmq
    ports:
      - "5672:5672"
      - "15672:15672"
    environment:
      RABBITMQ_DEFAULT_USER: ${RABBITMQ_USER}
      RABBITMQ_DEFAULT_PASS: ${RABBITMQ_PASSWORD}
    volumes:
      - rabbitmq_data:/var/lib/rabbitmq

volumes:
  db_data:
  rabbitmq_data: